{% extends "base.html" %}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h1 class="text-center display-3">Artistry Generation</h1>
      <p style="width: 70%; margin:auto; margin-top:2%; margin-bottom: 2%">Artistry Generation is an interactive web application that combines image recognition, Retrieval-Augmented Generation (RAG), and AI-powered image generation to create art in various painting styles. Users can upload an image, select a painting style, and watch as the app generates a short story and a new image inspired by the uploaded photo and chosen style. Powered by models from OpenAI and Hugging Face, along with style data from Wikipedia, Artistry Generation brings creative expression and art history together, allowing users to explore and visualize artistic styles in a unique, immersive way.</p>
    </div>
  </div>
  <div class="row justify-content-center">

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="margin-bottom: 3%;">Milestone 1: Initial Development and AI Integration</h4>
          <p>Start your journey into AI-driven storytelling with Milestone 1. This phase focuses on setting up the foundational technology stack and integrating advanced AI models to transform images into captivating narratives.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Image-to-Text:</strong> Leverages Hugging Face's model to analyze and generate detailed captions from uploaded images.</li>
            <li class="list-group-item"class="list-group-item"><strong>Story Generation:</strong> Employs OpenAI's GPT-4 to transform image captions into captivating short stories.</li>
            <li class="list-group-item"><strong>Text-to-Image:</strong> Utilizes another Hugging Face's model to generate a brand new image inspired by the generated stories. Note: In Milestone 2 I turned to OpenAI's DALL-E model for a speedy generation.</li>
            <li class="list-group-item"><strong>Framework:</strong> Develops with Flask for backend functionality and styled with Bootstrap to ensure a visually cohesive interface.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="margin-bottom: 3%;">Milestone 2: Advanced Features and Enhanced Interactivity</h4>
          <p>Significantly improving the speed of image generation by redirecting from Hugging Face's model to Open AI. Incorporating LangChain templates and RAG to generate style-specific and contextually enriched images.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Style Selection:</strong> Users can select from six distinct painting styles to enhance the mood of the generated artwork.</li>
            <li class="list-group-item"><strong>Dynamic Dataset with FAISS:</strong> Utilizes FAISS indexing and the Wikipedia API to build a rich textual dataset on painting styles, enabling contextually informed prompts for LangChain Library.</li>
            <li class="list-group-item"><strong>LangCahin Templates and RAG:</strong> Integrates structured prompt templates with RAG to provie more vivid, style-specific results.</li>
            <li class="list-group-item"><strong>Interactive Display:</strong> Users can toggle between the generated story and image, allowing a deeper appreciation of the narrative behind the artwork.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
{%endblock%}
