{% extends "base.html" %}
{%block content%}
<div class="container">
    <br>
    <div class="row">
        <div class="col-5">
            <form action="{{ url_for('interaction_2')}}" method="post" enctype="multipart/form-data">
                <label for="formFile" class="form-label">Upload Image:</label>
                <input class="form-control" id="formFile" type="file" name="imgFile">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <img src="{% if imgPath %} {{imgPath}} {%endif %}" class="rounded mx-auto d-block img-fluid">
            <br>
            <p>{%if caption%}{{caption}} {%else%}Waiting for image processing & caption...{%endif %}</p>
            <br>
            <!-- <p id="image-url">Generated Image URL: {% if generated_img_url %}{{generated_img_url}}{% else %}Not generated yet.{% endif %}</p> -->
        </div>

        <div class="col-1">
            <br>
        </div>
        
        <div class="col-6" >
            <div class="d-flex justify-content-center" 
                id="canvas-div" 
                data-story="{% if imgPath %} {{story}} {% else %}Waiting for the story...{%endif %}"
                data-generated-img="{% if generated_img_path %}{{ generated_img_path }}{% else %} {% endif %}">
            </div>
            <br>
            <p>{{ story }}</p>
            <div class="row">
                <div class="col-6 text-center" id="startBtnDiv">
                    <!-- <button type="button" class="btn btn-primary" id="startBtn">Start Narrating!</button> -->
                </div>
                <div class="col-6 text-center" id="stopBtnDiv">
                    <!-- <button type="button" class="btn btn-danger" id="stopBtn">Stop Narrating!</button> -->
                </div>
            </div>
            
        </div>   
    </div>
    
</div>
<script src="js/sketch-m2.js"></script>
{%endblock%}