{% extends "base.html" %}
{%block content%}
<div class="container">
    <br>
    <h3>Milestone 1</h3>
    <p>In Milestone 1, I incorporated a chunky <a href="https://huggingface.co/stabilityai/stable-diffusion-3-medium" target="_blank">Text-to-Image Hugging Face model</a> that requires a GPU to generate an image or the speed would be extremely slow (It took me more than 4 hours to create an image without a GPU). Therefore, to avoid the crash down of this web app, I embed my YouTube demo video and GitHub repository as follows in case you want to check my Milestone 1.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3VXeSJVFEow?si=ajU-QrkikgQ1xRxs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <a href="https://github.com/jan1hwj/H2M1" target="_blank"><button type="button" class="btn btn-primary">View Source Code</button></a>
</div>

{%endblock%}