{% extends "base.html" %}
{%block content%}
<div class="container">
    <br>
    <h3>Milestone 2</h3>
    <br>
    <div class="row">
        <div class="col-5">
            <form action="{{ url_for('interaction_2')}}" method="post" enctype="multipart/form-data">
                <label for="formFile" class="form-label">Step 1 - Upload an image:</label>
                <input class="form-control" id="formFile" type="file" name="imgFile">
                <br>

                <legend class="col-form-label">Step 2 - select a painting style:</legend>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="style" id="inlineRadio1" value="Watercolor" checked>
                    <label class="form-check-label" for="inlineRadio1">Watercolor</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="style" id="inlineRadio2" value="Cubism">
                    <label class="form-check-label" for="inlineRadio2">Cubism</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="style" id="inlineRadio3" value="PopArt">
                    <label class="form-check-label" for="inlineRadio3">Pop Art</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="style" id="inlineRadio4" value="Cartoon">
                    <label class="form-check-label" for="inlineRadio1">Cartoon</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="style" id="inlineRadio5" value="Abstract">
                    <label class="form-check-label" for="inlineRadio2">Abstract</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="style" id="inlineRadio6" value="ArtDeco">
                    <label class="form-check-label" for="inlineRadio3">Art Deco</label>
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <img src="{% if imgPath %} {{imgPath}} {%endif %}" class="rounded mx-auto d-block img-fluid">
            <br>
            <p>{%if caption%}{{caption}} {%else%}Waiting for image processing & caption...{%endif %}</p>
            <br>
            <!-- <p id="image-url">Generated Image URL: {% if generated_img_url %}{{generated_img_url}}{% else %}Not generated yet.{% endif %}</p> -->
        </div>

        <div class="col-1">
            <br>
        </div>
        
        <div class="col-6" >
            <div class="d-flex justify-content-center" 
                id="canvas-div" 
                data-story="{% if imgPath %} {{story}} {% else %}Complete Step 1 & 2 first!{%endif %}"
                data-generated-img="{% if generated_img_path %}{{ generated_img_path }}{% else %} {% endif %}">
            </div>
            <br>
            <div class="text-center">
                <button id="showStoryBtn" class="btn btn-secondary">Show Story</button>
                <button id="showImageBtn" class="btn btn-secondary">Show Image</button>
            </div>
            <br>
            <!-- <p>{{ story }}</p> -->
            
        </div>   
    </div>
    
</div>
<script src="js/sketch-m2.js"></script>
{%endblock%}